//file linked to main.scss
// these are varibales (start with $)
//when you make changes in this file, need to save main.css before liveserver changes
$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true; 
$home-img: url(../img/background.jpg);
$background-opacity: 0.75; 

//mixin is like a css func, this one fades color change of icons in 
    
@mixin easeOut {
    transition: all 0.5s ease-out;
}

//this func checks to see if this is the home page and then places varibale '$home-img' as background for body element
@mixin background {
   @if $show-home-image {
        &#bg-img {
            background: $home-img;
            background-attachment: fixed; 
            background-size: cover; //uses entire photo to cover space 
            
            //pseudoelement (not in the html), this is the overlay
            &:after {
                content:'';
                position: absolute; //overlay covers whole body
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1; //places overlay behind text
                background: rgba($primary-color, $background-opacity);

            }
        }
   }      
}