//file linked to main.scss
// these are varibales (start with $)
//when you make changes in this file, need to save main.css before liveserver changes
$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true; 
$home-img: url(../img/background.jpg);
$background-opacity: 0.75; 

//mixin is like a css func but does not return anything, this one fades color change of icons in 
    
@mixin easeOut {
    transition: all 0.5s ease-out;
}

//this func checks to see if this is the home page and then places varibale '$home-img' as background for body element
@mixin background {
   @if $show-home-image {
        &#bg-img {
            background: $home-img;
            background-attachment: fixed; 
            background-size: cover; //uses entire photo to cover space 
            
            //pseudoelement (not in the html), this is the overlay
            &:after {
                content:'';
                position: absolute; //overlay covers whole body
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1; //places overlay behind text
                background: rgba($primary-color, $background-opacity);

            }
        }
   }      
}

// Set text color function: returns color for body text given what lightness of $primary-color is  
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Mendia query Mixins to make site responsive to different screen sizes
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        //and CSS on here will only apply if the screen is 500px or less
        @content; //applies to any content within function when it's called 
    }  
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }  
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }  
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }  
}