//Menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut();

    //the 3 button lines
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut(); 
    }

    //animation rotating menu button in X with menu lines when clicked (class=closed)
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - Rotate 
            &:nth-child(1) {        //using nth child selector
                transform: rotate(45deg) translate(5px, 5px);
                background-color: rgb(189, 54, 54);
            }

            // Line 2 - Hide
            &:nth-child(2) {        //using nth child selector
                opacity: 0;
            }

            // Line 3 - rotate
            &:nth-child(3) {        //using nth child selector
                transform: rotate(-45deg) translate(7px, -6px);
                background-color: rgb(189, 54, 54);
            }
        }
    }
}

// Menu Overlay (The two piece column menu and portrait screen when button is clicked)
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden; //nav menu initially hidden until menu button clicked

    &.show {
        visibility: visible;
    }

    &-branding, &-nav {
        display: flex; //using flexbox to creat a column
        flex-flow: column wrap;
        align-items: center;
        justify-content: center; //aligns flex items at center of container
        float: left; //moves elements to the left on screen 
        width: 50%; //makes content take half screen
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0); //used this function to place menu out of the screen
        @include easeOut;

        &.show {
            //Slide from the top
            transform: translate3d(0, 0, 0); 
        }
    }

    //Branding Side (with portrait photo) 
    &-branding {
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            //Slide from the bottom
            transform: translate3d(0, 0, 0);
         }

         .portrait {
             width: 250px;
             height: 250px;
             background: url('../img/portrait.jpg');
             border-radius: 50%; //makes photo into circle 
             border: solid 3px $secondary-color;
         }
    }   

    //navigation list items 
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show {
            //Slide from the right
            transform: translate3d(0, 0, 0);
        }

        &.current > a {
            //makes current page link stand out with secondary color 
            color: $secondary-color;
        }
    }
    

    //nav links styling on menu overlay 
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}

//Delay each nav item (link) slide by 0.1s using a sass for loop 
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}