// Widescreens
@include mediaXl {

}

// Desktops and Laptops
@include mediaLg {
    
}

// Tablets and small Laptops
@include mediaMd {
    //home page responsiveness 
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none; //want items stacked when screen is small
        width: 100%; //since items are not floated
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh; //nav menu will take up 75% of screen
        transform: translate3d(-100%, 0, 0); //initiallizes nav menu to the left
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0); //initiallizes nav menu to the right 

        .portrait {
            background: url('../img/portrait_small.jpg'); //changes portait pic to smaller pic 
            width: 150px;
            height: 150px;
        }
    }
}

// Smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }
}