// Widescreens
@include mediaXl {
    .projects {
       grid-template-columns: repeat(4, 1fr); //creates 4 grid items on large screens
    }
}

// Desktops and Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr); //creates 3 grid items 
     }
}

// Tablets and small Laptops
@include mediaMd {
    //home page responsiveness 
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none; //want items stacked when screen is small
        width: 100%; //since items are not floated
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh; //nav menu will take up 75% of screen
        transform: translate3d(-100%, 0, 0); //initiallizes nav menu to the left
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0); //initiallizes nav menu to the right 

        .portrait {
            background: url('../img/portrait_small.jpg'); //changes portait pic to smaller pic 
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas: //makes grid-items on About page stack for small screens 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

    .projects { //My Work Page class
        grid-template-columns: repeat(2, 1fr); //creates 2 grid items 
     }
}

// Smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: 1fr; //stacks items on mobile screens (My Work Page)
     }
}